body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(30, 29, 29);
}
.container
{
    background-color: #faebd7;
    padding: 10px;
  box-shadow: 3px 2px 10px gainsboro ;
border-radius: 5px;
}
h2{
    text-align: center;
    text-transform: capitalize;
}
img{
    border-radius: 50%;
    height: 60px;
    border: 2px solid rgb(244, 197, 135);
    box-shadow: 1px 1px 10px rgb(109, 107, 107);
   transition: all 0.6s ease-in-out;
}
img:hover{
    scale: 1.1;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.left
{
    background-color: aliceblue;
    border-radius: 50px;
    position: relative;
    float: left;
   display: flex;
  justify-content: flex-start;
}
.right
{
   background-color: rgb(36, 197, 30);
    border-radius: 50px;  
    color: white;
    float: right;
     display: flex;
     position: relative;
     
}
.right img{
  position: absolute; 
  right: 0;
  top: -10px;
}
 p{
    margin-left:15%;
}
